@use "../breakpoints.scss" as breakpoints;

.hover {
    transition: var(--transition-micro-medium);

    &:hover {
        transform: translateX(var(--static-space-4));
    }
}

.avatar {
    height: fit-content;
}

// Text alignment - centered by default
.textAlign {
    text-align: center;
}

// Block alignment - centered by default
.blockAlign {
    align-self: center;
}

// Hide table of contents on mobile
.hideOnMobile {
    display: block;
}

// Hide on medium screens
.hideOnMedium {
    display: block;
}

// Hide on large screens
.hideOnLarge {
    display: block;
}

// Social links responsive display
.socialDesktop {
    display: flex;
}

.socialMobile {
    display: none;
}

@media (max-width: breakpoints.$s) {
    .socialDesktop {
        display: none;
    }

    .socialMobile {
        display: flex;
    }

    .hideOnMobile {
        display: none;
    }
}

@media (max-width: breakpoints.$m) {
    .hideOnMedium {
        display: none;
    }
}

@media (max-width: breakpoints.$l) {
    .hideOnLarge {
        display: none;
    }
}

// Skill cards hover effect
.skillCard {
    transition: all 0.2s ease;
    cursor: default;

    &:hover {
        background: var(--brand-alpha-weak) !important;
        transform: translateY(-2px);
    }
}