@use "./breakpoints.scss" as breakpoints;

.hideOnMobile {
    display: block;
}

.showOnMobile {
    display: none;
}

.position {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

@media (max-width: breakpoints.$s) {
    .position {
        top: auto;
        bottom: 1.5rem;
    }

    .hideOnMobile {
        display: none;
    }

    .showOnMobile {
        display: block;
    }
}